# MUXCORE_GRPC_ADDR=localhost:9090
# MUXCORE_INSECURE_DISABLE_TLS=true
# MUXCORE_MODULE_ID=database-postgres
# DATABASE_GRPC_ADDR=:9701
# PGHOST=localhost
# PGPORT=5432
# PGUSER=muxcore
# PGPASSWORD=
# PGDATABASE=muxcore
# PGSSLMODE=disable
